*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
}
/*Barra*/
.navbar-container{
    width: 100%;
    height: 70px;
    background-color: #ffd900;
    position: fixed;
}

.logo-container{
    display: flex;
}

.logo-container{
    justify-content: center;
}

.nav{
    position: relative;
}

.logo{
    width: 140px;
    margin-top: 3px;
}

/*banner*/
.banner-container{
    background-image: url("/assets/159406-Recife-And-Vicinity.jpg");
    background-size: cover;
    background-position: 100%;
    box-shadow: 0px 100px 100px #E8D7BF;
    padding: 30rem 0;
}

.banner-container h1, 
.banner-container p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 2px;
}

.banner-container h1{
    font-size: 54px;
}

.banner-container p{
    font-size: 26px;
    padding: 1rem 10rem;
}
/*Opções*/


.options{
    padding: 5rem 0;
}

.options a{
    text-decoration: none;
}

.options h2{
    margin-top: 50px;
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
}

.options ul{
    display:flex;
    width: 35%;

}

.options ul{
    justify-content: center;
    margin: 0 auto;
}

.options li{
    margin: 0 auto;
    list-style: none;

}

.options p{
    
    font-weight: bold;
    color: #202020;
    font-size: 15px;
}

.fas{
    font-size: 60px;
}

.fa-bed{
    color: #2b8fd1;
    padding-left: 10px;
}

.fa-concierge-bell{
    color: #91281a;
    padding-left: 16px;
}

/*Infos*/

.location{
    padding: 5rem 0;
}

.location img{
    width: 500px;
    height: 470px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
}

.location ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.location li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.location h3{
    margin-top: 30px;
    font-size: 27px;
    color: #131313;
}

.location p{
    margin-top: 15px;
    line-height: 25px;
    padding: 0 50px;
}

.infos-container{
    border: 1px solid #e4e4e4;
    margin: 40px;
    border-radius: 50px;
    
}